:root {
  --background: #201610;
  --primary: #111111;
  --secondary: #858d9c; 
  --tertiary: #bcc5da;
  --accent: #6082bd;
  --text: var(--primary);
  --hover: #282c34;
  --hover-text: white;

  /* Sizing & borders. */
  --size-xsmall: 0.1em;
  --size-small: 0.2em;
  --size-med: 0.5em;
  --size-large: 1em;
  --size-xlarge: 2em;
  --size-xxlarge: 5em;
  
  /* Margins & padding. */
  --pad-xsmall: 0.1em;
  --pad-small: 0.2em;
  --pad-med: 0.5em;
  --pad-large: 1em;
  --pad-xlarge: 2em;
}

/* World's simplest reset.css (this is really all you need IMO) :) */
* {
  /* background: transparent; */
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}

/* Map should take up the entire page. */
body #root .map {
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: white;
}

/* TODO: Add other header sizes. */
h4 {
  font-size: min(2vmin, 11px);
}

a {
  background-color: var(--secondary);
  width: max(5vw, 28.5);
  height: max(5vh, 28.5);
  text-align: center;
}

.popup-input {
  background-color: var(--tertiary);
  border-width: 0;
  border-bottom: var(--size-xsmall);
  border-style: solid;
  text-transform: capitalize;
  font-weight: bold;
}

.marker-wrapper {
  text-align: center;
  background-color: var(--secondary);
  border-left: 2px solid black; 
  border-right: 2px solid black; 
  padding-left: var(--pad-small);
  padding-right: var(--pad-small);
  padding-top: var(--pad-small);
  padding-bottom: var(--pad-small);
}

.marker-wrapper:first-child { 
  border-top: 2px solid black;
  border-top-left-radius: var(--size-med);
  border-top-right-radius: var(--size-med);
}

.marker-wrapper:last-child { 
  border-bottom: 2px solid black;
  border-bottom-left-radius: var(--size-med);
  border-bottom-right-radius: var(--size-med);
}

.marker-wrapper:hover {
  background-color: var(--hover);
  transition-duration: 0.4s;
  cursor: pointer;
}

.marker-active {
  background-color: var(--accent);
}

.delete-marker-button {
  background-color: var(--accent);
  border: var(--size-xsmall) solid var(--primary);
  color: maroon;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 56px;
  text-align: center;
}

.delete-marker-button:hover {
  background-color: var(--hover);
  color: red;
}

.map-sidebar {
  position: absolute;
  right: -120px;
  top: 2in;
  z-index: 100;

  padding: var(--pad-med);
  transition: right 0.2s ease-in-out;
}

.map-sidebar.open {
  right: 0;
}

.icon-selector-table {
  display: flex;
  flex-direction: column;
  gap: var(--pad-xsmall);
  background-color: var(--primary);
  border: 1px transparent;
  border-radius: var(--size-med);
}

.icon-image {
  width: 80%;
}

.thea-campaign-doc {
  width: 100%!important;
  height: 100em!important;
  padding-top: 4.2em!important;
}

.sidebar-toggle {
  position: absolute;
  top: 1.6in;
  right: 0;
  z-index: 100;

  width: var(--size-xlarge);
  height: var(--size-xlarge);
  margin: var(--pad-med);

  border-radius: var(--size-med);
  border: 2px solid black;
  background-color: var(--secondary);
  font-weight: bold;
}

.sidebar-toggle:hover {
  background-color: var(--hover);
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;
}

.instructions {
  margin-left: 15%;
  text-align: left;
  background-color: var(--background);
}
