.leaflet-control-container {
  top: 0.8in;
  position: absolute;
}

/* zoom in */
.leaflet-control-zoom-in {
  background-color: var(--secondary)!important;
  border: 2px solid black;
  border-bottom: none;
}

.leaflet-control-zoom-in:hover {
  background-color: var(--hover)!important;
  color: var(--hover-text);
}


/* zoom out */
.leaflet-control-zoom-out {
  background-color: var(--secondary)!important;
  border: 2px solid black;
  border-bottom: 2px solid black!important;
}

.leaflet-control-zoom-out:hover {
  background-color: var(--hover)!important;
  color: var(--hover-text);
}

/* general zoom controls */
.leaflet-disabled:hover {
  background-color: var(--secondary)!important;
  color: var(--hover-text);
}

.leaflet-touch .leaflet-bar {
  border-style: none;
}

.leaflet-bar a {
  border-bottom: none;
}

.leaflet-pane.leaflet-marker-pane img:hover {
  filter: invert(1);
  transition-duration: 0.4s;
  cursor: pointer;
}

.leaflet-popup-tip {
  background-color: var(--tertiary);
}

.leaflet-popup-content-wrapper {
  background-color: var(--tertiary);
}

.leaflet-popup-close-button span {
  color: white
}

.leaflet-tile-loaded {
  filter: sepia();
  filter: brightness(0.9) sepia(0.3) contrast(1.1);
}

.leaflet-container {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  text-align: center;
  position: relative;
  z-index: 1;
}

