:root {
  --primary: #111111;
  --secondary: #858d9c; 
  --tertiary: #bcc5da;
  --accent: #6082bd;
  --hover: #282c34;
}

body {
  background-color: var(--primary);
}
a {
  color: white; 
  background-color: var(--secondary);
  width: max(5vw, 28.5);
  height: max(5vh, 28.5);
  text-align: center;
}

.popup-input {
  background-color: var(--tertiary);
  border-width: 0px;
  border-bottom: 1px;
  border-style: solid;
  text-transform: capitalize;
  font-weight: bold;
  outline: None;
}

.marker-wrapper {
  padding: 0.2em;
  text-align: center;
  background-color: var(--secondary);
  border-radius: 5px;
}
.marker-wrapper:hover {
  background-color: var(--hover);
  color: white;
  transition-duration: 0.4s;
  cursor: pointer;
}
.marker-active {
  background-color: var(--accent);
}

.delete-marker-button {
  background-color: var(--tertiary);
  color: white;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.delete-marker-button:hover {
  background-color: var(--hover);
}

.marker-button {
  width: min(max(7vw, 70px), 100px);
  height: min(max(10vh, 47px), 120px);
  text-align: center;
}

.marker-description {
  font-size: min(2vmin, 13px);
  color: white;
}

.icon-image {
  width: min(6.5vmin, 80px); 
  background-color: transparent;
}

.sidebar {
  background-color: transparent;
  position: absolute;
  z-index: 100;
  top: max(15vh, 1.5in);
  left: -120px;
  padding-right: 35px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  transition: left 0.2s ease-in-out;
}

.sidebar.open {
  width: fit-content;
  left: 0vw;
  text-align: left;
  padding-left: 0.5em;
}

.sidebar-toggle {
  z-index: 100;
  background-color: var(--secondary);
  color: white;
  position: absolute;
  font-weight: bold;
  top: 1.1in;
  left: 0.12in;
  height: 40px;
  width: 35px;
  z-index: 100;
  border-radius: 0px;
  border-style: hidden;
  border-radius: 5px;
}

.sidebar-toggle:hover {
  background-color: var(--hover);
  color: white;
  transition-duration: 0.4s;
  cursor: pointer;
}

.instructions {
  margin-left: 15%;
  text-align: left;
  color: white;
  background-color: var(--primary);
}
