:root {
  --primary: #5A639C;
  --secondary: #7776B3;
  --tertiary: #9B86BD;
  --accent: #E2BBE9;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary);
  text-align: center;
}

.instructions {
  background-color: var(--secondary);
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  position: relative;
  text-align: center;
}

.instructions.mobile {
  padding-top: 5%;
  padding-bottom: 5%;
}

.marker-menu {
  background-color: var(--tertiary);
}

.active-color {
  background-color: var(--accent);
}

html body .leaflet-control-container .leaflet-top .leaflet-control-zoom { 
  a {
    color: rgb(9, 12, 99); 
    background-color: var(--accent);
  }

  *.leaflet-disabled {
    background-color: var(--tertiary);
    color: rgb(9, 12, 99);
  }
 }