:root {
  --primary: #111111;
  --secondary: #858d9c; 
  --tertiary: #9daac5;
  --accent: #6082bd;
  --menu: #282c34;
}

body {
  background-color: var(--primary);
}

.leaflet-tile-loaded {
  filter: sepia();
  filter: brightness(0.9) sepia(0.3) contrast(1.1);
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary);
  text-align: center;
  position: relative;
  z-index: 1;
}

html body .leaflet-control-container .leaflet-top .leaflet-control-zoom { 
  a {
    color: var(--primary); 
    background-color: var(--secondary);
    width: max(5vw, 28.5);
    height: max(5vh, 28.5);
    border-color: var(--tertiary);
    text-align: center;
  }

  *.leaflet-disabled {
    background-color: var(--tertiary);
    color: var(--secondary);
  }
}

.leaflet-popup-tip {
  background-color: var(--secondary);
}

.leaflet-popup-content-wrapper {
  background-color: var(--secondary);
}

.leaflet-popup-close-button span {
  color: white
}

.marker-wrapper {
  text-align: center;
  background-color: var(--secondary);
}

.delete-marker-button {
  background-color: var(--secondary);
  color: white;
  font-weight: bold;
}

.marker-button {
  width: min(max(7vw, 70px), 100px);
  height: min(max(10vh, 47px), 120px);
  text-align: center;
}

.icon-image {
  width: min(6.5vmin, 80px); 
  background-color: transparent;
}

.active-icon {
  background-color: var(--accent);
}

.sidebar {
  background-color: var(--menu);
  background-color: transparent;
  position: absolute;
  z-index: 100;
  top: max(15vh, 1.5in);
  left: -120px;
  padding-right: 35px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  transition: left 0.2s ease-in-out;
}

.sidebar.open {
  left: 0vw;
  width: min(max(10vw, 93px), 150px);
  text-align: left;
  padding-left: 10px;
  padding-right: 0px;
}

.sidebar-toggle {
  z-index: 100;
  background-color: var(--secondary);
  color: white;
  position: absolute;
  font-weight: bold;
  top: 1.1in;
  left: 0.12in;
  height: 40px;
  width: 35px;
  z-index: 100;
}

.instructions {
  margin-left: 15%;
  text-align: left;
  color: white;
  background-color: var(--primary);
}

.marker-description {
  font-size: min(2vmin, 13px);
  color: white;
}
